@import "tailwindcss";


:root {
  /* --primary: #ffd3b3; */
  --primary-dark: #d56610;
  --primary-light: rgba(255, 255, 255, 0.3);
  --primary-extra-light: #f1e3da;
  --primary-black: #23201D;
  --glass-color: rgba(255, 255, 255, 0.42);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Elms Sans", sans-serif;
}

.transitionClass {
  transition: all 0.2s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
  z-index: 10;
}

h1 {
  font-family: "Manufacturing Consent", system-ui;
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: var(--primary-dark);
  /* text-shadow: var(--primary-light) 2px 2px 6px; */
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  color: var(--primary-extra-light);
}

h3 {
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.3rem);
  /* line-height: 2.5; */
  /* color: var(--primary-extra-light); */
  word-spacing: -4px;
  margin-bottom: 5px;
}

p {
  line-height: 1.3;
  word-spacing: -2px;
  font-size: clamp(.8rem, 1.5vw, 1rem);
}

.HighlightClass {
  border: 2px dotted #f1e0dab3;
  background-color: rgba(104, 104, 144, 0.1);
  scale: 1.02;
  z-index: 10;
}

.columnClass {
  position: relative;
  scale: 0.95;
  background-color: var(--primary-light);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  min-height: 280px;
  max-height: 620px;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

@media (min-width: 1024px) {
  .columnClass {
    scale: 0.95;
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 100%;
  }
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    margin-top: 3.75rem;
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.taskContainer::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1024px) {
    .taskContainer {
        height: 75vh;
    }
}